.dropdovn-menu-mobile {
	position: relative;
	.hidden-menu {
		display: block;
		position: absolute;
		list-style:none;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		width: 128px;
		max-width: 128px;
		background-color: #656565;
		box-shadow: -3.5px 3.5px 5px rgba(0, 0, 0, 0.14);
		height: auto;
		top: 65px;
		left: -650px;
		transition: left .2s;
		z-index: 9;
		-webkit-transform: classZ(0);
		-webkit-backface-visibility: hidden;
		
		& > li {
			display: block;
			width: 100%;
			height: 43px;
			margin: 0 auto;
			text-align: left;
			line-height: 43px;
			vertical-align: middle;

			& > a {
				display: block;
				width: 100%;
				height: 100%;
				padding-left: 26px;
				color: white;
				font: 400 18px / 40px $Swiss721BT;
				text-transform: capitalize;
				@include transition;
				@include border-box;

				&:hover {
					color: #000;
					background: #fff;
				}
			}
			& > a.hidden-menu-active {
				color: #000;
				background: #fff;
			}
		}
		.sub-menu {
			position: relative;


			&:after {
				position: absolute;
				content: '\f105';
				font-family: "FontAwesome";
				right: 15px;
				top: 0;
				font-size: 20px;
				color: #fff;
				@include transition;
			}

			&:hover {

				&:after {
					color: #000;
				}

				.sub-menu-block {
					display: block;
				}
			}

			.sub-menu-block {
				display: none;
				position: absolute;
				left: 128px;
				top: 0;
				width: 165px;
				background-color: #cdcdcd;
				box-shadow: -3.5px 3.5px 5px rgba(0, 0, 0, 0.14);
				@include transition;

				.submenu-list {
					background-color: #cdcdcd;
					li {
						padding: 5px 0 5px 20px;
						line-height: 22px;
						@include transition;
						a {
							color: black;
							font: 400 16px / 22px $Swiss721BT;
							@include transition;
						}

						&:hover {
							background-color: #333;

							a {
								color: #fff;
							}
						}
					}
				}

				#new-serv-btn,
				#new-article-btn {
					display: block;
					padding: 5px 0 5px 20px;
					color: black;
					font: 400 16px / 22px $Swiss721BT;
					@include transition;

					&:hover {
						background-color: #333;
					}
				}
			}
		}
	}
	.btn-menu {
		color: #fff;
		background-color: none;
		position: absolute;
		top: 31px;
		left: 0;
		cursor: pointer;
		transition: left .23s;
		z-index: 99;
		width: 22px;
		-webkit-transform: classZ(0);
		-webkit-backface-visibility: hidden;
	}
	.btn-menu span {
		display: block;
		height: 2px;
		background-color: #fff;
		margin: 3px 0 0;
		transition: all .1s linear .23s;
		border-radius: 10px;
		position: relative;
	}
	.btn-menu span.first {
		margin-top: 0;
	}
	.hidden-menu-ticker:checked ~ .btn-menu {
		left: 0;
		z-index: 99999;
	}
	// .hidden-menu-ticker:checked ~ .btn-menu span {
	// 	background-color: #00adf5;
	// }
	.hidden-menu-ticker:checked ~ .hidden-menu {
		left: -15px;
		top: 65px;
		margin: 0;
		z-index: 9999;
		background-color: #656565;
		box-shadow: -3.5px 3.5px 5px rgba(0, 0, 0, 0.14);
	}
	@media (min-width: 1000px) {
		.hidden-menu-ticker:checked ~ .hidden-menu {
			left: -22px;
		}
	}
}

input{display:none;}
input:checked+#info-mobile{display:none;}
/*end menu*/
/*logo*/
.logo-block {
	margin: 0 auto;
	padding: 20px 0 0 20px;
	text-align: center;

	.logo-title {
		color: #000;
		font: 400 18px / 22px $HelveticaNeueCyr;

		a {
			color: #000;
		}
	}

	.logo-sign {
		color: white;
		font: 400 11px / 11px $HelveticaNeueCyr;

		a {
			color: white;
		}
	}
}
/*settings-block*/
.settings-block {
	float: right;
	padding: 20px 0 0 0;

	#settings,
	#log-out {
		float: left;
		display: block;
		width: 40px;
		@include transition;

		.fa {
			display: block;
			width: 100%;
			height: 100%;
			font-size: 1.7em;
			color: #fff;
		}
		.active-setting {
			color: #000;

			.fa {
				color: #000;
			}
		}

		&:hover {
			.fa {
				color: #000; 
			}
		}
	}

	.position-word {
		display: none;
	}
}
.open-settings {
	position: absolute;
	top: 65px;
	right: 0;
	max-width: 202px;
	width: 202px;
	overflow: hidden;
	height: auto;
	background-color: white;
	box-shadow: -3.5px 3.5px 5px rgba(0, 0, 0, 0.14);
	z-index: 9;

	.settings-list {
		li {
			display: block;
			width: 100%;
			margin: 0 auto;

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 0 27px;
				color: black;
				font: 400 18px / 40px $Swiss721BT;
				@include transition;

				&:hover {
					color: #fff;
					background-color: #000;
				}
			}
		}
	}
}
.show {
	display: block !important;
}