.for-logo {
    min-width: 154px;
    width: 100%;
    max-width: 154px;
    min-height: 91px;
    height: 100%;
    max-height: 91px;
    margin: 15px auto 35px;

    background: url('../images/edit-logo-bg.png') no-repeat;
    background-size: cover;
    background-position: center;

    .edit-title {
        overflow: hidden;

        a {
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 53px 0 21px;
            text-align: center;
            color: #009af0;
            font: 400 18px / 18px $OpenSans;
            
            @include transition;

            &:hover {
                color: #535353;
            }
        }
    }
}

.for-slider {
    min-width: 320px;
    width: 100%;
    min-height: 241px;
    max-width: 980px;
    max-height: 288px;
    margin: 0 auto;
    overflow: hidden;
    background: url('../images/slider-default.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    .swiper-container {
        width: 100%;
        max-width: 980px;
        height: 100%;
        min-height: 241px;
        max-height: 288px;
        overflow: hidden;

        .swiper-slide {
            webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            min-height: 241px;
            max-height: 288px;
            position: relative;
            margin: 0 auto;
            text-align: center;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            img {
                z-index: 1;
                min-width: 100%;
                width: 100%;
                max-width: none;
                min-height: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
    .swiper-container-horizontal {
        &>.swiper-pagination-bullets {
            .swiper-pagination-bullet {
                width: 19px;
                height: 19px;
                margin: 0 15px;
                opacity: inherit;
                background-color: #009af0;

                &:hover {
                    background: #535353;
                }
            }

            .swiper-pagination-bullet-active {
                background: #535353;
            }
        }
    }
    .edit-slider {
        overflow: hidden;
        position: absolute;
        top: 12px;
        right: 28px;
        z-index: 2;

        a {
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            color: #009af0;
            font: 400 18px / 18px $OpenSans;

            @include transition;

            &:hover {
                color: #535353;
            }
        }
    }
    .slider-title,
    .slider-description {
        position: absolute;
        z-index: 2;
        max-width: 288px;
        width: 100%;
        @include border-box;
        overflow: hidden;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        background-color: #4ec4fc;

        a {
            color: white;
        }

        .edit-title {
            @include edit;
            overflow: inherit;
            margin: 10px 0 0;
            clear: inherit;
            float: right;
        }
    }
    .slider-title {
        margin: 40px auto 0;

        .title {
            @include big-title;
            max-width: 72%;
        }
    }
    .slider-description {
        margin: 125px auto 0;

        .description {
            float: left;
            max-width: 72%;
            color: white;
            font: 600 18px / 35px $OpenSans;
        }
    }
}
.for-welcome {
    margin: 21px auto 18px;

    a {
        color: #fff;
    }

    .welcome-title,
    .welcome-description {
        @include border-box;
        overflow: hidden;
        width: 100%;

        .edit-title {
            @include edit;
        }
    }

    .welcome-title {
        padding: 15px 10px;
        background-color: #4ec4fc;
        .title {
            @include big-title;
        }
    }
    .welcome-description {
        margin: 21px auto 0;
        padding: 30px 12px;
        border: 2px solid #56bff8;
        .description {
            float: left;
            max-width: 72%;
            color: #7d7d7d;
            font: 400 18px / 22px $HelveticaNeueCyr;

            a {
                color: #7d7d7d;

                span {
                    display: block;
                }
            }
        }

        .edit-title {
            overflow: inherit;
            margin: 10px 0 0;
            clear: inherit;
            float: right;
            a {
                color: #009af0;

            }
        }
    }
}
.for-services {

    .services-title {
        z-index: 2;
        width: 100%;
        @include border-box;
        overflow: hidden;
        width: 100%;
        padding: 15px 10px;
        background-color: #4ec4fc;

        a {
            color: white;
        }
        .title {
            @include big-title;
        }

        .edit-title {
            @include edit;
        }
    }
    .services-list {
        box-sizing: border-box;
        width: 100%;
        display: block;
        overflow: hidden;
        padding: 20px 0;
        margin: 0 auto;
        li {
            display: block;
            margin: 30px auto;
            text-align: center;
            // max-width: 235px;
            // max-height: 145px;
            overflow: hidden;

            .icon-container {
                position: relative;
                max-width: 140px;
                max-height: 130px;
                min-width: 140px;
                min-height: 130px;
                margin: 0 auto;
                text-align: center;

                background: url('../images/services-icon-bg.png') no-repeat;
                background-position: center;

                img {
                    max-width: 100%;
                    height: auto;
                }

                .edit-title {
                    @include edit;
                    position: absolute;
                    z-index: 9;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a {
                        float :none;
                        color: #009af0;

                    }
                }
            }
            .services-edit {
                width: 100%;
                overflow: hidden;
                padding: 17px 12px;
                @include border-box;
                background-color: #4ec4fc;

                .title {
                    float: left;
                    max-width: 72%;
                    height: auto;
                    color: white;
                    font: 400 22px / 29px $OpenSans;

                    a {
                        color: #fff;
                    }
                }

                .edit-title {
                    @include edit;
                    overflow: inherit;
                    float: right;
                    clear: inherit;
                    margin: 7px 0 0;
                }
            }
        }
    }
}
.for-blog {
    padding: 40px 0;
    background-color: #c9d4d9;

    .blog-list {
        @include border-box;
        li {
            @include border-box;
            display: block;
            margin: 25px auto;
            text-align: center;

            .circle {
                position: relative;
                width: 171px;
                height: 171px;
                margin: 0 auto;
                text-align: center;
                border: 3px solid white;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                @include border-box;

                .centering {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .circle-count {
                        @include border-box;
                        color: white;
                        font: 400 35px / 35px $OpenSans;
                        text-transform: uppercase;
                    }
                    .edit-title {
                        @include edit;

                        a {
                            color: #009af0;

                        }
                    }
                }
            }
            .blog-edit { 
                margin: 22px auto;
                width: 100%;
                overflow: hidden;
                padding: 17px 12px;
                @include border-box;
                background-color: #4ec4fc;

                .title {
                    float: left;
                    max-width: 72%;
                    color: white;
                    font: 400 20px / 22px $OpenSans;
                    text-transform: uppercase;

                    a {
                        color: #fff;
                    }
                }

                .edit-title {
                    @include edit;
                    overflow: inherit;
                    float: right;
                    clear: inherit;
                    margin: 4px 0 0;
                }
            }
        }
    }
}
.for-seo-toolbar {
    margin: 25px auto 20px;
    padding: 22px 0;
    background-color: #e6f1fa;

    .seo-toolbar-title {
        margin: 0 auto;
        text-align: center;
        color: #050505;
        font: 600 30px / 29px $OpenSans;
    }

    .seo-toolbar-list {
        @include border-box;
        margin: 0 auto;

        li {
            display: block;
            max-width: 289px;
            width: 100%;
            margin: 14px auto;
            padding: 16px 0;
            text-align: center;
            background-color: #bac8d2;

            a {
                color: white;
                font: 600 18px / 29px $OpenSans;
            }
        }
    }
}
.site-control-btn {
    clear: both;
}
.to-website-btn,
.back-btn {
    display: block;
    max-width: 287px;
    width: 100%;
    margin: 18px auto 20px;
    padding: 18px 0;
    text-align: center;
    color: white;
    font: 600 18px / 29px $OpenSans;
    background-color: #7ec3fa;
    @include transition;

    &:hover {
        background-color: #4d99ed;
    }
}
.to-website-btn {
    margin-bottom: 7px;
}
.back-btn {
    margin-top: 7px;
}