@media (max-width: 319px) {
	.for-slider {
		.slider-title, 
		.slider-description {
			left: 45%;
			transform: translateX(-49%);
		}
	}
}
@media (min-width: 768px) {


	.for-logo {
		float: left;
	}

	.for-slider {
		clear: both;

		.swiper-container {

			.swiper-button-next,
			.swiper-button-prev {
				display: block;
				width: 34px;
				height: 64px;
			}
			.swiper-button-next {
				background-image: none;
				right: 137px;
				background: url('../images/next.png') no-repeat;
			}
			.swiper-button-prev {
				left: 130px;
				background-image: none;
				background: url('../images/prev.png') no-repeat;
			}

			.swiper-pagination-bullets {
				left: 40%;
			}
		}
	}

	.for-phone {
		.phone-number {
			width: 97%;
		}
		.edit {
			width: 3%;
		}
	}

	.for-welcome {

		.welcome-title {
			color: black;
			font: 400 30px / 30px $Swiss721BT;

			a {
				color: #000;
			}
		}

		.welcome-description {
			max-width: 96%;
			.description {
				a {
					span {
						display: inline;
					}
				}
			}
		}
	}

	.for-welcome,
	.for-services {
		.welcome-title,
		.services-title {

			.title {
				a {
					color: #000;
				}
			}
		}
	}
	.preffoter-text {
		max-width: 96%;
	}

	.for-why-us {
		.why-us-title {
			.title {
				width: 97%;
			}

			.edit-title {
				width: 3%;
			}
		}
		.services-list {
			li {
				.services-area-description {
					.description {
						width: 97%;
					}

					.edit-title {
						width: 3%;
					}
				}
			}
		}
	}

	.for-seo-toolbar {
		background: inherit;
		clear: both;
		.box-border {
			padding: 31px 0 38px;


			.seo-toolbar-title {
				margin: 0 auto 25px;
			}

			.seo-toolbar-list {
				text-align: center;

				li {
					display: inline-block;
					width: auto;
					margin: 14px 1%; 
					padding: 16px 12px;

				}
			}
		}
	}
	.site-control-btn {
		overflow: hidden;
		.to-website-btn {
			width: 185px;
			float: left;
			margin: 0 0 0 38%;
		}
		.back-btn {
			width: 80px;
			float: right;
			margin: 0;
		}
	}
	/*-------------------------------------------------------------------------------*/
		// FOR ABOUT US PAGE
		.main-page {
			.fot-page-title,
			.for-post-date {
				float: left;

				.page-title,
				.post-date {
					background-color: inherit;
					padding: 15px 10px 15px 0;

					.title,
					.date {
						float: left;
						a {
							color: #000;
						}
					}
					.edit-title {
						float: left;
						clear: inherit;
						margin: 10px 0 0 20px;
						a {
							color: #000;
						}
					}
				}
			}
			.for-post-date {
				margin: 0 auto;
			}
			.for-about {
				overflow: hidden;
				clear: both;


				.about-border {
					position: relative;
					padding: 20px 12px;

				}

				.about-description {
					margin: 0 auto 21px;
					overflow: initial;

					.description {
						float: inherit;
						a {
							span {
								display: inline;
							}
						}
					}
					.edit-title {
						top: 30px;
						transform: inherit;
					}
				}
			}
			.for-about-photo {
				overflow: hidden;
				.photo-container {
					float: left;
					width: 187px;
					height: 141px;
					margin: 6px;
					background-position: center;

					img {
						width: 100%;
					}

					.edit-title {
						top: 11px;
						right: 10px;
						transform: inherit;
					}
				}
			}
			.for-video-wrapper {
				margin: 30px auto;
				.video-container {
					background-position: center;
					.edit-title {
						top: 11px;
						right: 11px;
						transform: inherit;
					}
				}
			}
		}
		/*-------------------------------------------------------------------------------*/
		/*-------------------------------------------------------------------------------*/
	// FOR SERVICES PAGE

	.main-page {
		.content-box {
			overflow: hidden;
			clear: both;
			.left-sidebar {
				float: left;
				width: 23%;

				.services-list {
					margin: 15px auto 20px;
					li {

						&:first-child {
							margin-top: 0;
						}
						.services-edit {
							background: inherit;
							padding: 0;
							.title {
								a {
									color: #61abec;
								}
							}
							.edit-title {
								a {
									color: #61abec;
								}
							}
						}
					}
				}
			}
			.main-content {
				float: right;
				width: 71%;

				.for-services-photo {
					.photo-container {
						min-height: 178px;
						background: #d5dde1 url(../images/big-bg-elem.png) no-repeat;
						background-position: center;
						.edit-title {
							top: 15px;
							right: 20px;
							transform: inherit;
							a {
								line-height: 25px;
								.breack {
									display: inline;
								}
							}
						}
					}
				}
				.services-area-description {
					min-height: 175px;

					.description {
						a {
							span {
								display: inline;
							}
						}
					}
					.edit-title {
						position: absolute;
						top: 25px;
						right: 13px;
						transform: inherit;
					}
				}
			}
		}
	}
	/*-------------------------------------------------------------------------------*/
	/*-------------------------------------------------------------------------------*/
	// FOR SERVICES MORE PAGE
	.main-page {
		.services-more-item-title {
			@include border-box;
			display: block;
			float: right;
			box-sizing: border-box;
			overflow: hidden;
			max-width: 710px;
			width: 100%;
			margin: 0;
			padding: 15px 10px 15px 0;
			background-color: inherit;

			.title {
				float: left;
				a {
					color: #61abec;
					font: 400 30px / 32px $OpenSans;
					text-transform: uppercase;
				}
			}
			.edit-title {
				@include edit;
				clear: inherit;
				float: left;
				margin: 10px 0 0 20px;
				a {
					color: #61abec;
				}
			}
		}
		.content-box {
			.main-content {

				.services-more-item-title-mobile {
					display: none;
				}
				.services-more-item {

					.serv-more-photo-container {
						height: auto;
						min-height: 178px;
						background: #d5dde1 url(../images/big-bg-elem.png) no-repeat;
						background-position: center;

						.edit-title {
							top: 15px;
							right: 20px;
							transform: inherit;
						}
					}

					.services-area-description {
						min-height: 294px;
					}
					.for-serv-more-photo {
						display: -ms-flexbox;
						display: -webkit-flex;
						display: flex;
						-webkit-flex-direction: row;
						-ms-flex-direction: row;
						flex-direction: row;
						-webkit-justify-content: space-between;
						-ms-flex-pack: justify;
						justify-content: space-between;
						margin: 30px auto 0;
						.photo-container	{
							float: left;
							width: 187px;
							height: 141px;
							margin: 6px 0;
							background-position: center;

							.edit-title {
								top: 11px;
								right: 10px;
								transform: inherit;
							}
						}
					}
					.for-video-wrapper {
						clear: both;
						max-width: 100%;
						margin: 30px auto;
						padding: 0;
					}
				}
			}
		}
	}
	/*-------------------------------------------------------------------------------*/
	// FOR BLOG PAGE
	/*-------------------------------------------------------------------------------*/

	.main-page {
		#add_article {
			max-width: 187px;
			float: right;
			margin: 0 auto 20px;
		}
		.article-block {
			.articles-list {

				li {
					clear: both;

					.article-edit-desctop {
						display: block;

						.title {
							a {
								color: #00adef;
								font: 400 22px / 32px $OpenSans;
								text-transform: uppercase;
							}
						}
						.article-post-date {
							color: #00adef;
							font: 400 18px/ 29px $OpenSans;
							text-transform: uppercase;
						}

					}

					.blog-short-description {
						min-height: 95px;
						padding: 15px 10px 10px;
						.description {
							a {
								span {
									display: inline;
								}
							}
						}
						.edit-title {
							top: 14px;
							right: 27px;
							transform: inherit;

							a {
								.wrap-word {
									display: inline;
								}
							}
						}
					}

					.article-edit {
						display: none;
					}

					.blog-photo-container {
						width: 234px;
						height: 176px;
						float: left;
						margin: 0 20px 20px 0;
					}

					.overflow-block {
						overflow: hidden;
					}

				}		
			}
		}
		.site-pagination {
			float: right;
			.pagination-list {
				.desctop {
					display: inline-block;
				}
				.mobile {
					display: none;
				}
			}
		}
	}

	/*-------------------------------------------------------------------------------*/

	/*-------------------------------------------------------------------------------*/
	/*-------------------------------------------------------------------------------*/
	/*-------------------------------------------------------------------------------*/
	// FOR CONTACT US PAGE
	.main-page {
		.contact-desctop-bg {
			.fot-page-title {
				.page-title {
					padding: 8px 10px 8px 0;
				}
			}
		}
		.contact-info {
			max-width: 380px;
			width: 35%;
			float: left;
			clear: left;

			.name-company-title {
				background: inherit;
				margin: 0 auto 18px;
				padding: 10px 0;

				.edit-title {
					float: left;
					clear: inherit;
					margin: 7px 0 0 5px;
				}
			}
			.info-list-title {
				background: inherit;
				padding: 17px 12px 17px 0;
				.edit-title {
					float: left;
					clear: inherit;
					margin: 7px 0 0 10px;
				}
			}
			.info-list-description {
				padding: 20px 10px;
			}
		}
		.map-block-desctop {
			display: block;
			max-width: 568px;
			max-height: 424px;
			height: 424px;
			float: right;
			width: 60%;
			float: right;
			margin: 17px 0 0;
			padding: 0;
			overflow: hidden;
		}
		.social-links-block {
			.social-links-title {
				background: inherit;
				padding: 17px 12px 17px 0;
				.edit-title {
					clear: inherit;
					float: left;
					margin: 7px 0 0 10px;
				}
			}

			.social-list {
				li {
					width: auto;
					min-width: 90px;
					display: inline-block;
					background: inherit;

					&:nth-child(odd) {
						float: inherit;
						clear: inherit;
						margin: 0 2px;
					}

					&:nth-child(even) {
						float: inherit;
						clear: inherit;
						margin: 0 5px;
					}
					&:first-child {
						margin-left: 0;
					}
					.social-icon {
						float: left;
					}
					.edit-icon {
						clear: inherit;
						float: inherit;
						margin: 13px 0 0 0;
					}
				}
			}
			.social-control-btn {
				.quote-request-btn {
					width: 258px;
					float: left;
				}
				.list-request-btn {
					width: 174px;
					float: left;
					margin-left: 25px;
				}
			}
		}
		.social-links-block {
			clear: both;
			margin: 20px 0 0;
			overflow: hidden;
		}
		.map-block-mobile {
			display: none;
		}
	}
	/*-------------------------------------------------------------------------------*/
	.main-page {
		.for-services-page {
			.services-list {
				li {
					float: none !important;
					display: inline-block;
					margin: 20px;
				}
			}
		}
	}
}
@media (min-width: 1024px) {

	.main-page {
		.slider {
			.center {
				.prev-btn {
					left: 14px;
				}
				.next-btn {
					right: 17px;
				}

				.slick-slide {
					.edit-title {
						top: 13px;
					}
				}
			}
		}
	}

	.header-logo-block {
		.company-logo {
			margin: 4px auto 4px;
		}

		.color-list {
			li {
				width: 50px;
			}
		}
	}

	// for login page

	.login-page-content {
		.login-block {
			#login-form {
				.form-row{
					#sign-in {
						margin: 5px auto 0;
						clear: inherit;
						width: 115px;
						float: right;
					}
				}
			}
		}
	}

	.login-page {
		.header-top {
			height: 49px;
			.logo-block {
				padding: 5px 0 0 0;

				.logo-title {
					letter-spacing: 0;
					text-align: left;
					font-size: 22px;
					line-height: 24px;
				}

				.logo-sign {
					font-size: 13px;
					line-height: 17px;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}
	}

	.section-padding-bottom {
		padding: 20px 0 26px;
	}

	.direction {
		display: none;
	}

	.wrapper {
		max-width: 1050px;
		padding: 0 15px 0 35px;
	}

	.inside-page {
		height: auto;
	}

	.dropdovn-menu-mobile {
		display: none;
	}

	.logo-block {
		float: left;
		padding: 5px 0 0 0;

		.logo-title {
			letter-spacing: 1px;
			font: 400 26px/22px $HelveticaNeueCyr;
		}

		.logo-sign {
			font: 400 16px/26px $HelveticaNeueCyr;

		}
	}

	// main-page 
	.inside-page {
		height: 102px;
		.header-top {
			height: 49px;

			.logo-block {
				padding: 5px 0 0 0;

				.logo-title {
					letter-spacing: 0;
					text-align: left;
					font-size: 22px;
					line-height: 24px;
				}

				.logo-sign {
					font-size: 13px;
					line-height: 17px;
					letter-spacing: 0px;
					text-align: left;
				}
			}
		}

		.header-desctop-menu {
			display: block;
			width: 100%;
			height: 33px;
			background-color: #656565;

			.menu-list {
				float: right;
				@include border-box;

				& > li {
					display: inline-block;
					margin: 0 43px 0 0;

					&:last-child {
						margin: 0 74px 0 0;
					}

					a {
						color: #fff;
						font: 400 16px / 32px $Swiss721BT;
						text-transform: capitalize;
						@include transition;
					}
					.desctop-item-active {
						color: #000;
					}

					&:hover {
						a {
							color: #000;
						}
					}
				}

				.active {
					a {
						color: #000;
					}
				}

				.sub-menu {
					position: relative;

					&:hover {

						&:after {
							color: #000;
						}

						.sub-menu-block {
							display: block;
							left: -12px;
							z-index: 9;
						}
					}

					.sub-menu-block {
						display: none;
						position: absolute;
						left: 0;
						top: 32px;
						width: 190px;
						background-color: #fff;
						box-shadow: -3.5px 3.5px 5px rgba(0, 0, 0, 0.14);
						@include transition;

						.submenu-list {
							background-color: #fff;
							li {
								margin: 0;
								padding: 5px;
								line-height: 22px;
								@include transition;
								a {
									color: black;
									font: 400 16px / 22px $Swiss721BT;
									@include transition;
								}


								&:hover {
									background-color: #111112;

									a {
										color: #fff;
									}
								}
							}

							.submenu-desctop-item-active {
								background-color: #111112;

								a {
									color: #fff;
								}
							}
						}

						#new-serv-btn,
						#new-article-btn {
							display: block;
							padding: 5px 0 5px 20px;
							color: black;
							font: 400 16px / 22px $Swiss721BT;
							@include transition;

							&:hover {
								background-color: #111112;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	/*settings-block*/
	.settings-block {
		padding: 0;
		margin-right: 20px;

		#settings,
		#log-out {
			position: relative;
			float: left;
			display: block;
			width: 52px;
			height: 49px;
			text-align: center;

			.position-word {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				display: none;
				bottom: -31px;
				color: black;
				font: 400 18px / 20px $HelveticaNeueCyr;

			}

			.fa {
				font-size: 1.7em;
				color: #fff;
				line-height: 52px;
				@include transition;
			}
			.active-setting {
				color: #000;
			}

			&:hover {
				.fa {
					color: #000; 
				}
				.position-word {
					display: block;
					z-index: 999;
				}
			}
		}
	}
	.show {
		top: 50px;
	}

	.open-settings {
		top: 50px;
		right: 87px;
		max-width: 161px;
		width: 100%;
		z-index: 999;

		.settings-list {
			li {
				a {
					padding: 0 12px;
					letter-spacing: 0px;
					font-size: 16px;
					line-height: 31px;
					}.for-phone {
						min-width: 152px;
						position: absolute;
						z-index: 99;
						right: 65px;
						top: 16px;
						overflow: hidden;
						padding: 10px;
						margin: 0 auto 17px;
						background-color: #aeaeae;
					}
				}
			}
		}

// for main page
.main-page {

	// .for-phone {
	// 	display: none;
	// }

	.for-phone {
		min-width: 152px;
		position: absolute;
		z-index: 2;
		right: 78px;
		top: 0;
		letter-spacing: 0px;
		background: none;

		.phone-number {
			width: auto;
		}

		.edit {
			width: 22px;
		} 
	}

	.swiper-container {
		min-height: 431px;
		max-height: 431px;

		.swiper-slide {
			min-height: 431px;
			max-height: 431px;

			.for-slider {
				margin: -92px 0 0 26px;
				.slider-title,
				.slider-description {
					max-width: 465px;
				}

				.slider-title {
					max-width: 631px;
					border-width: 2px;
					.title {
						max-width: 460px;
						float: left;
						font-size: 42px;
						line-height: 47px;

						.edit {
							width: 20px;
							height: 20px;
						}
					}
				}
				.slider-description {
					float: left;
					margin: 4px 0 0 100px;
					letter-spacing: -0.1px;
					.description {
						font-size: 25px;
						line-height: 27px;

						.edit {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}

		.wrapper {
			max-width: 881px;
		}
		.swiper-button-next, 
		.swiper-button-prev {
			transform: translateY(50%);
			margin-top: -307px;
			width: 35px;
			height: 58px;
		}

		.swiper-button-prev {
			background: url("../images/prev.png") no-repeat;
		}

		.swiper-button-next {
			background: url("../images/next.png") no-repeat;
		}
	}

	.for-welcome {
		margin: 16px auto 30px;
		.welcome-title {
			margin-left: 28px;
			border-left-width: 0.7px;
			background-color: inherit;

			.title {
				width: auto;
				color: black;
				font: 400 30px / 30px $Swiss721BT;

				a {
					color: #000;
				}
			}

			.edit-title {
				width: 3%;
				margin: 5px 0 0;
			}
		}

		.welcome-description {
			max-width: 1618px;
			width: 98%;
			margin: 0 auto;
			padding: 12px 0 15px;
			@include border-box;

			.description {
				max-width: 78%;
				margin: 4px 0 0 37px;
				font-size: 14px;
				line-height: 22px;
				.mobile {
					display: none;
				}

				.desctop {
					display: block;
				}
			}
			.edit-title {
				margin: 0 36px 0 0;
			}
		}
	}

	.preffoter-text {
		max-width: 1618px;
		width: 98%;
		margin: 0 auto;
		@include border-box;

		.preffoter-description {
			margin: 25px auto 0;
			padding: 12px 12px 16px;
			.description {
				margin: 1px 0 0 37px;
				font-size: 14px;
				line-height: 22px;
				max-width: 78%;
				.mobile {
					display: none;
				}

				.desctop {
					display: block;
				}
			}

			.edit-title {
				margin: 0 36px 0 0;
			}
		}
	}

	.welcome {
		max-width: 860px;
		margin: 150px auto 0;
		padding: 35px 34px;

		.introo {

			.welcome-title {
				margin: 30px 0 5px;
				font: 600 46px / 48px $HelveticaNeueCyr;
				color: #00adf5;

				.uppercase-text {
					font: 600 50px / 52px $HelveticaNeueCyr;
					color: #00adf5;
					text-transform: uppercase;
				}

				.second-title {
					font: 700 39px / 42px $HelveticaNeueCyr;
				}
				.thirdContent-title {
					display: block;
					font: 700 25px / 27px $HelveticaNeueCyr;
					color: black;
					.space {
						display: inline;
					}
				}

				.thirdContent-title {
					padding-bottom: 20px;

					&:after {
						width: 102px;
						height: 4px;
					}
				}
			}
			.choose-title {
				max-width: 330px;
				span {
					display: inline;
					font: 400 25px / 27px $HelveticaNeueCyr;
				}
			}
		}
		.position-img {
			top: -145px;
			right: -35px;

			.desctop-photo {
				display: block;
				max-width: 424px;
				max-height: 665px;
			}

			.mobile-photo {
				display: none;
			}
		}
	}

	.for-why-us {
		padding: 9px 0 33px;
		background: url("../images/why-us-desctop-bg.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		.why-us-title {
			margin: 0 0 0 29px;
			background: none;

			.title {
				width: auto;
				color: black;
				font: 400 30px / 30px $Swiss721BT;

				a {
					color: #000;
				}
			}
		}

		.why-serv-bg {
			background: none;
		}

		.services-list {
			margin: 0 auto;
			text-align: center;
			li {
				float: left;
				text-align: center;
				overflow: hidden;
				width: 246px;
				min-height: 126px;

				&:first-child {
					margin: 0 2px 0 38px;
				}
				&:nth-child(2) {
					margin: 0 73px 0 81px;
				}
				&:last-child {
					margin: 0;
				}


				.services-area-description {
					height: auto;
					min-height: 126px;
					overflow: hidden;
					padding: 11px 12px 11px 15px;
					text-align: left;

					.description {
						width: 90%;
						font-size: 18px;
						line-height: 20px;
					}

					.edit-title {
						width: 10%;
						margin: 0;
					}
				}


			}
		}
	}

	.for-seo-toolbar {
		margin: 0 auto 23px;
		padding: 0;
		.box-border {
			padding: 24px 0 27px;
			overflow: hidden;
			.seo-toolbar-title {
				float: left;
				margin: 6px 2px 0 0;
				display: inline-block;
			}

			.seo-toolbar-list {
				text-align: center;
				float: left;
				width: 70%;
				margin: 3px 0 0 0;
				li {
					float: left;
					margin: 0;
					padding: 4px 15px;

					&:first-child {
						margin: 0 20px 0 21px;
						padding: 5px 18px 4px 15px;
					}

					&:nth-child(2) {
						margin: 0 18px 0 0;
						padding: 5px 23px 4px 15px;
					}

					&:last-child {
						padding: 5px 18px 4px 15px;
					}
				}
			}
		}
	}
	.site-control-btn {
		.to-website-btn {
			width: 185px;
			float: right;
			margin: 0 19px 0 0;

			span {
				display: block;
				margin-left: -6px;
				letter-spacing: 0.5px;
			}
		}
	}

	.main-menu {
		display: none;
	}
	#dock-container {
		display: block;
		z-index: 999;
	}
}
.footer-login {
	.wrapper {
		padding: 0 15px;
	}
}
.footer-main {
	position: fixed;
	left: 0;
	bottom: 0;
}

		// FOR CONTACT US PAGE
		.main-page {
			.contact-info {
				.name-company-title {

					.edit-title {
						margin: 7px 0 0 10px;
					}
				}
			}
			.social-links-block {

				.social-list {
					li {

						&:nth-child(odd) {
							margin: 0 25px;
						}

						&:nth-child(even) {
							margin: 0 25px;
						}
						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
		}
		.about-desctop-bg,
		.serv-more-desctop-bg,
		.blog-more-desctop-bg,
		.services-page-desctop-bg {
			background: url("../images/about-desctop-bg.jpg") no-repeat;
			background-size: cover;
			background-position: center;
			overflow: hidden;
		}


		.main-page {
			.blog-more-desctop-bg {
				.fot-page-title {
					margin: 52px 0 0 35px !important;
					min-width: 40%;

					.page-title {
						background: none;
						padding: 15px 10px 15px 0;
						.title {
							a {
								font-size: 30px;
							}
						}
						.edit-title {
							float: left;
							margin: 4px 0 0 8px;
						}
					}
				}
				.for-post-date {
					margin: -11px 0 0 35px;
					letter-spacing: 1px;

					.post-date {
						padding: 0 10px 15px 0;
						.date {
							a {
								line-height: 23px;
							}
						}
						.edit-title {
							margin: 2px 0 0 3px;
						}
					}
				}
			}

			.fot-page-title {
				margin: 73px 0 0 39px;

				.page-title {
					.edit-title {
						margin: 4px 0 0 8px;
					}
				}
			}
			.serv-more-desctop-bg {
				.fot-page-title {
					margin: 73px 0 0 0;
				}
				.slider {
					.center {
						.prev-btn {
							left: 14px;
						}
						.next-btn {
							right: 17px;
						}
					}
				}
			}
			.serv-more-slider {
				margin: 36px auto 4px;
				padding: 0 0 33px;
				border-bottom: 3px solid #aeaeae;
			}
			.for-about{
				margin: 0 auto 8px;
				padding: 0 15px;
				clear: both;

				.wrapper {
					padding: 0 15px;
				}

				.about-border {
					padding: 0 12px;
				}
				.about-description {
					padding: 12px 0 19px 41px;
					border: inherit;



					.description {
						font-size: 20px;
						line-height: 23px;
						letter-spacing: -1px;
						height: 317px;
						overflow-y: scroll;
						-ms-overflow-style: none;
						overflow: -moz-scrollbars-none;

						&::-webkit-scrollbar { 
							display: none;
							width: 0 !important;
						}

						.mobile {
							display: none;
						}
						p {
							margin: 0 auto 15px;
							.desctop {
								display: block;
							}
						}
					}

					.edit-title {
						top: 21px;
						right: 24px;
					}
				}
			}

			.for-about-slider {
				margin: 37px auto 38px;
			}

			.for-services-more-icon {
				float: left;
				margin: 57px 18px 0 30px;
			}
			.for-serv-more {
				margin: 0 auto 8px;
				padding: 0 15px 21px;
				clear: both;

				.wrapper {
					padding: 0 15px;
				}

				.serv-more-border {
					padding: 0 12px;
				}
				.serv-more-description {
					padding: 12px 0 19px 41px;
					border: inherit;



					.description {
						font-size: 20px;
						line-height: 23px;
						letter-spacing: -1px;
						height: 317px;
						overflow-y: scroll;
						-ms-overflow-style: none;
						overflow: -moz-scrollbars-none;

						&::-webkit-scrollbar { 
							display: none;
							width: 0 !important;
						}

						.mobile {
							display: none;
						}
						p {
							margin: 0 auto 15px;
							.desctop {
								display: block;
							}
						}
					}

					.edit-title {
						top: 21px;
						right: 24px;
					}
				}
			}

			.for-blog-more {
				margin: 0 auto 21px;
				padding: 0 15px 0;
				clear: both;

				.wrapper {
					padding: 0 15px;
				}

				.blog-more-border {
					padding: 0 12px;
				}
				.blog-more-description {
					padding: 12px 0 19px 41px;
					border: inherit;



					.description {
						font-size: 20px;
						line-height: 23px;
						letter-spacing: -1px;
						height: 317px;
						overflow-y: scroll;
						-ms-overflow-style: none;
						overflow: -moz-scrollbars-none;

						&::-webkit-scrollbar { 
							display: none;
							width: 0 !important;
						}

						.mobile {
							display: none;
						}
						p {
							margin: 0 auto 15px;
							.desctop {
								display: block;
							}
						}
					}

					.edit-title {
						top: 21px;
						right: 24px;
					}
				}
			}
			.blog-more-slider {
				margin: 36px auto 4px;
				padding: 0 0 33px;
				border-bottom: 3px solid #aeaeae;
			}
		}

		.main-page {
			.for-services-page {
				.services-list {
					max-width: 720px;
					margin: 68px auto 55px;

					li {
						margin: 25px 30px 20px;

						&:nth-child(4n+1) {
							margin-left: 0;
						}

						&:nth-child(4n+4) {
							margin-right: 0;
						}

						.services-icon {
							width: 129px;
							height: 106px;

							.mobile {
								display: none;
							}

							.desctop {
								display: block;
							}
						}

						.services-item-title {
							font-size: 22px;
							letter-spacing: 0.7px;
						}
					}
				}
			}
		}
		.main-page {
			.contact-info {
				width: 100%;
				margin-left: 33px;
				.info-list-title {
					padding: 17px 12px 9px 0;
					margin: 7px auto 0;

					.edit-title {
						margin: 5px 0 0 2px;
					}
				}
				.info-list-description {
					min-height: 67px;
					margin: 0 auto;
					padding: 5px 10px 5px 9px;

					.edit-title {
						margin: -14px -6px 0 0;
					}

					.description {
						font-size: 18px;
						line-height: 20px;
					}
				}
			}
			.social-links-block {
				.social-links-title {
					margin: 0 0 0 33px;
				}

				.social-list {
					margin: -6px 0 0 30px;

					li {
						min-width: auto;
						margin: 0;

						&:nth-child(odd) {
							margin: 0;
						}
					}
				}
			}

			.contact-desctop-bg {
				padding-bottom: 25px;
				background: url("../images/contact-desctop-bg.jpg") no-repeat;
				background-position: center;
				background-size: cover;
				.fot-page-title {
					margin: 59px 0 0 36px;
				}
			}
			.social-links-block {
				.social-control-btn {
					margin-left: 34px;
					.quote-request-btn,
					.list-request-btn {
						line-height: 34px;
					}

					.quote-request-btn {
						width: 238px;
					}
					.list-request-btn {
						width: 166px;
						margin-left: 22px;
					}
				}
			}

			.map-block-desctop {
				max-width: 530px;
				max-height: 495px;
				height: 495px;
				margin: 26px 21px 0 0;

				.edit-direction {
					top: 9px;
					right: 13px;
					a {
						span {
							margin: 5px 11px 0 0;
						}
					}
				}
			}
		}
	}
	@media (min-width: 1200px) {
		.main-page {
			.welcome {
				.position-img {
					top: -30%;
				}
			}
		}
	}