.main-page {


    .for-services-page {
        margin: 20px auto;
        padding: 0 15px;

        .wrapper {
            padding: 0;
        }

        .services-list {
            @include border-box;
            margin: 0 auto;
            text-align: center;

            li {
                display: inline-block;
                overflow: hidden;
                margin: 17px 5px;

                &:nth-child(odd) {
                    float: left;
                    clear: left;
                }

                &:nth-child(even) {
                    float: right;
                    clear: right;
                }

                .services-icon {
                    width: 108px;
                    height: 88px;
                    margin: 0 auto 16px;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    .desctop {
                        display: none;
                    }
                }

                .services-item-title {
                    color: black;
                    font: 400 18px / 24px $OpenSans;
                }
            }
        }

        .services-page-border {
            position: relative;
        }
    }
}