@font-face {
  font-family: 'Swis721-BT-Roman';
  src: url('Swis721-BT-Roman.eot');
  src: url('Swis721-BT-Roman.woff2') format('woff2'),
       url('Swis721-BT-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-Roman';
  src: url('Swiss721BT-Roman.woff') format('woff'),
       url('Swiss721BT-Roman.ttf') format('truetype'),
       url('Swiss721BT-Roman.svg#Swiss721BT-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

